<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Poker Session Tracker</title>
</head>
<body>
  <h2>Don't be a degen.</h2> <br /><br />

  <ul class="sessions">
  <% for(var i=0; i<sessions.length; i++) {%>
    <li class="Poker-Session">
      <span><%= sessions[i].date %></span>
      <span><%= sessions[i].stakes %></span>
      <span><%= sessions[i].netProfit %></span>
      <span><%= sessions[i].casino %></span>
    </li>
  <% } %>
</ul>

<form action="/sessions" method="POST">

  	<input id="date" name="date">

	<script type="text/javascript">
 		 document.getElementById('date').value = Date();
	</script>


  	<input type="text" placeholder="stakes" name="stakes">
  	<input type="text" placeholder="Net Profit" name="netProfit">
  	<input type="text" placeholder="Casino" name="casino">
  	<button type="submit">Submit</button>
  </form>
</body>
</html>